<div class="cart_card">
    <img src="{{itemImage}}" alt="cart product image">

    <span>{{itemName}}</span>

    <div class="amount">
        <p>0</p>    
        <div class="icons">
            <button>
                <i class="ph ph-plus"></i>
            </button>
            <button>
                <i class="ph ph-minus"></i>
            </button>
        </div> 
    </div>

    <span>${{itemPrice}}</span>

    <button (click)="excludeItem()">
        <i class="ph ph-x"></i>
    </button>
</div>
