.catalog{
    height: 100%;
    width: 80%;
    margin: 1rem auto;

    .cards{
        height: 100%;
        margin-top: 3rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap:7vw;
    }
}