.about{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10%;

    h1{
        font-size: 70px;
    }

    p{
        width: 20%;
        font-size: 18px;
    }
}
 
@media (max-width:1000px) {
    .about{
        p{
            width: 45%;
        }
    }
}