@import '../../../../styles.scss';

.about{
    @include centerElement($height:50vh);
    flex-wrap: wrap;
    h1{
        font-size: 70px;
    }
}
 
@media (max-width:1000px) {
    .about{
        p{
            width: 45%;
        }
    }
}