.cart_container{
    position: fixed;
    top: 52%;
    left: 68%;
    transform: translate(-50%,-50%);
    height: 90vh;
    width: 60vw;
    background-color: var(--White);
    z-index: 100;
    box-shadow: 0px 4px 4px rgba(0,0,0,.05);
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    h1{
        margin-left: 20px;
        font-weight: 300;
    }

    .cart_cards{
        margin: 10px 0;
        height: 90%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow-y: auto;
    }
    .total_price{
        width: 80%;
        display: flex;
        justify-content: flex-end;
        padding-right: 10%;
    }
    a{
        font-weight:  400;
        color: var(--h1-color);
        padding: 10px 0;
        display: flex;
        align-items: center;
        gap: 10px;
        .arrow{
            width: 16px;
        }
    }
}
.cart_container::after{
    position: absolute;
    content: "";
    background-color: var(--White);
    height: 15px;
    width: 15px;
    right: 1%;
    top: -1%;
    transform: rotate(45deg);
}
@media (max-width:768px) {
        .cart_container{
            width: 90vw;
            left: 50%;
        }
}