:root{
    /*Colors*/
    --White:#FFFFFF;
    --h1-color :#461510;
    --text-color:#876965;
    --primary-color:#E3DAD2;
    --second-color:#FAF6F2;

    /*sizings*/
    --xs-sizing:8px;
    --s-sizing:16px;
    --m-sizing:24px;
    --l-sizing:32px;
    --xl-sizing:64px;
    --xxl-sizing:120px;

    --gap:10%;
}
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap');

@mixin centerElement($height:100vh){
    height:$height;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inria Sans', sans-serif;
    background-color: var(--second-color);

}
::selection{
    background-color: var(--primary-color);
    color: var(--h1-color);
}
h1{
    font-family: 'Italiana', sans-serif;
    color: var(--h1-color);
}
h2{
    color: var(--h1-color);
    font-weight:300;
}
h3{
    color: var(--text-color);
    font-weight: 300;
    font-size: var(--s-sizing);
}
span{
    color: var(--h1-color);
}
a{
    text-decoration: none;
    color: var(--text-color);
}
p{
    color: var(--text-color);
    text-align:justify;
    width: 20%;
    font-size: 18px;
}
button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}